.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background: rgba($color-secondary, 0.9);
    }

    &__dialog {
        position: relative;
        width: 90%;
        max-width: 500px;
        padding: 30px 20px;

        background: $color-base;

        @media (min-width:$screen-sm) {
            max-width: 600px;
            padding: 50px;
        }
    }
}