.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background: rgba($color-secondary, 0.9);
    }

    &__dialog {
        position: relative;
        max-width: 800px;
        padding: 50px;

        background: $color-base;
    }
}